node_modules/
android/app/build/
android/.gradle/
android/app/.cxx/
ios/build/
ios/Pods/
.expo/
backend/node_modules/
backend/ai-service/venv/
.expo/
dist/
npm-debug.log*
.env
backend/.env
backend/ai-service/.env
*.log
hs_err_pid*
replay_pid*
backend/ai-service/*.pt
.idea/
.vscode/
